@mixin button-bg($bg) {
  background: $bg;
  border-color: $bg;

  &:active {
    border-color: darken($bg, 10%);
    background: darken($bg, 10%);
  }


  &:hover {
    box-shadow:  0 15px 20px rgba(lighten($bg, 20%), 0.2);
  }



  button:active {
    transform: scale(0.9);
  }



}

@mixin button-border($border) {
  color: $border;
  border-color: $border;


  &:active {
    border-color: darken($border, 10%);
    background: darken($border, 10%);
    background: none;

  }
}

// buttons
.btn {
  display: inline-block;
  line-height: 1.5;
  color: currentColor;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 14px;
  border-radius: $normal-radius;
  transition: .5s cubic-bezier(.25, .46, .45, .94);
  padding: 8px 15px;
  white-space: nowrap;
  height: $normal-form-size;
  position: relative;



  &.sm {
    line-height: 1;
    font-size: 12px;
    height: $small-form-size;
  }

  &.lg {
    line-height: 2;
    font-size: 16px;
    height: $large-form-size;
  }

  &.xl {
    line-height: 2.4;
    font-size: 16px;
    height: $extra-large-form-size;
  }


  &:disabled {
    @extend %disabled;

    &:hover {
      @extend %disabled;
    }

  }

  &.disabled {
    @extend %disabled;

    &:hover {
      @extend %disabled;
    }

  }

  &.rounded {
    border-radius: $normal-radius;
  }

  &.rounded {
    border-radius: $normal-radius;
  }
}

.not-allowed {
  cursor: none;
  pointer-events: none;
}

// colors

.btn-default {
  @include button-bg($light-bg);
  color: $secondary;
}

.btn-default-outline {
  @include button-bg($light-bg);

  @include button-border($border-color);
  color: $secondary;
}

.btn-primary {
  @include button-bg($primary);
  color: #fff;
}

.btn-primary-outline {
  @include button-border($primary);
}

.btn-secondary {
  @include button-bg($secondary);
  border: 1px solid darken($secondary,20);
  color: #fff;
}

.btn-secondary-outline {
  @include button-border($secondary);
}

.btn-warning {
  @include button-bg($warning);
  color: #fff;
}

.btn-warning-outline {
  @include button-border($warning);
}

.btn-success {
  @include button-bg($success);
  color: #fff;
}

.btn-success-outline {
  @include button-border($success);
}

.btn-info {
  @include button-bg($info);
  color: #fff;
}

.btn-gray {
  @include button-bg($gray);
  color: $font-color-base;
 }

.btn-darkgray {
  @include button-bg($dark-gray);
  color: $font-color-base;
}

.btn-info-outline {
  @include button-border($info);
}

.btn-danger {
  @include button-bg($danger);
  color: #fff;
}

.btn-danger-outline {
  @include button-border($danger);
}

.btn-teal {
  @include button-bg($teal);
  color: #fff;
}

.btn-teal-outline {
  @include button-border($teal);
}


.btn-block {
  display: block;
  width: 100%;
}

.rounded {
  border-radius: $normal-radius;
}

.btn-rounded {
  border-radius: 50px !important;
}


input + .btn {
  @include rtl(margin-left, 15px, 0);
  @include rtl(margin-right, 0, 15px);

}


.btn-circle {
  @extend %flex-area;
  justify-content: center;
  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;

  i {
    font-size: 20px;
  }


}


.toggle-btn {
  width: 30px;
  height: 18px;
  background: darken($dark-gray, 10);
  border-radius: 20px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: flex;

  span {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: block;
    background: #fff;
    position: absolute;
    top: 2px;
    left: 3px;
    transition: 0.2s all ease-in-out;
  }

  &.active {
    background: $success;

    span {
      background: #FFF;
      right: 3px;
      left: auto;
    }

  }


}


.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
