



// Dropdown
.dropdown {
  position: relative;

  .dropdown-btn {
    text-transform: capitalize;
    flex: 1;
    white-space: nowrap;

    &:hover {
      .toggle-arrow {
      }
    }

    &.shown {
      svg {
      }
    }
  }
  .toggle-arrow {
    transition: 0.4s all ease-out;
    width: 14px;
    height: 14px;

  }

  .dropdown-menu {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .10);
    border-radius: 10px;
    z-index: 10;
    animation-name: fadeInTop;
    animation-fill-mode: both;
    animation-duration: 0.4s;
    left: 50%;
    min-width: 150px;
    max-width: 400px;
    top: 100%;
    padding: 2px;
    margin: 2px 0;
    display: none;



    .menu-item {
      display: block;
      padding: 10px 15px;
      border-bottom: 1px solid lighten($border-color, 6);
      transition: 0.4s all ease-in-out;
      font-size: 12px;

      &:hover {
        background: #FAFAFA;
      }

      &:last-child {
        border: none;
      }

    }


  }


  &.shown {
    .dropdown-menu {
      display: block;
    }

    .toggle-arrow {
      transform: rotate(180deg);
    }

  }


}


