.custom-file {
  height: 50px;
  position: relative;

  input {
    opacity: 0;
    cursor: pointer;
    z-index: 10;
  }

  .uploaded-files-text {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 14px;
    color: lighten($font-color-base, 25);

  }


}
.custom-file-upload {
  content: attr(data-title);
  border: none;
  background: $primary;
  width: 90px;
  height: 30px;
  display: flex;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
   cursor: pointer;
}
.custom-file-upload-view {
  content: attr(data-title);
  border: none;
  background: $primary;
  width: 90px;
  height: 30px;
  display: flex;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 120px;
  top: 10px;
   cursor: pointer;
}
.remove-file-btn{
    background: $danger !important;
}
.show-file-btn{
    background: $success !important;
}
.disabled-btn {
    background: lightgray !important;
}



.upload-files-actions {
  position: absolute;
  right: 10px;
  top:50%;
  transform: translateY(-50%);
}



.upload-btn {
  border: 1px solid $border-color;
  height: 50px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;

  input{
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    cursor: pointer;

  }

}
