// background
$body-bg : #F9FAFC;
$light-bg: #FFF;

// primary colors
$primary: #5C7284;
$danger: #EA5381;
$warning: #F3846A;
$secondary: #3A99B9;
$success: #49B882;
$teal: #96D7CA;
$info: #3A99B9;
$pink:#7446CA;
$yellow:#F7AF3C;

$heading-color : #5C7284;

// extra colors
$gray:#FAFAFA ;
$dark-gray:#EDEFF4 ;
$dark:#BDC8D0 ;
$border-color : #E1E8ED;

// typography
$font-size-base: 14px;
$font-color-base: #5C7284;
$font-family-base: 'Readex Pro', sans-serif;
$font-family-rtl: 'Readex Pro', sans-serif;

// forms size
$small-form-size : 30px;
$normal-form-size : 40px;
$large-form-size : 50px;
$extra-large-form-size: 55px;

$small-textarea-size : 50px;
$normal-textarea-size : 100px;
$large-textarea-size : 150px;

// page margin
$page-margin : 40px;
$page-margin-sm : 20px;
$page-margin-xs : 10px;

$normal-radius: 6px
